
@{
    ViewBag.Title = "Index";

    var supplierList = ViewBag.Suppliers;
    var productList = ViewBag.ProductId;
}

<h2>Purchase Information</h2>
<div class="container" style="max-width:640px">
    <div>
        <div class="master">
            <h4>Purchase Master</h4>
            <table>
                <tr>
                    <td>Invoice No</td>
                    <td>
                        <input type="text" id="InvoiceNo" />
                        <span class="error">Invoice no required</span>
                    </td>
                </tr>
                <tr>
                    <td>Purchase Date</td>
                    <td>
                        <input type="text" id="PurchaseDate" />
                        <span class="error">Valid order date required (ex. MM-dd-yyyy)</span>
                    </td>
                </tr>
                <tr>
                    <td>Supplier Name</td>
                    <td>
                        @Html.DropDownList("Suppliers", new SelectList(supplierList, "Id", "Name"), "-- Select Supplier --", new { @class = "form-control" })
<span class="error">Item name required</span>
                    </td>
                </tr>
                <tr>
                    <td>Remarks</td>
                    <td>
                        <textarea id="Remarks" style="width:100%"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Vat</td>
                    <td>
                        <textarea id="Vat" style="width:100%"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Discount</td>
                    <td>
                        <textarea id="Discount" style="width:100%"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Grand Total</td>
                    <td>
                        <textarea id="GrandTotal" style="width:100%"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Due Total</td>
                    <td>
                        <textarea id="DueTotal" style="width:100%"></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <div class="details">
            <h4>Purchase Details</h4>
            <table width="100%">
                <tr>
                    <td>Product Name</td>
                    <td>Barcode</td>
                    <td>Quantity</td>
                    <td>Purchase Rate</td>
                    <td>Sales Rate</td>
                    <td>Sub Total</td>
                </tr>
                <tr>
                    <td>
                        @Html.DropDownList("ProductId", new SelectList(productList, "Id", "Name"), "-- Select Product --", new { @class = "form-control" })
                        <span class="error">Item name required</span>
                    </td>
                    <td>
                        <input type="text" id="Barcode" />
                        <span class="error">Barcode is required</span>
                    </td>
                    <td>
                        <input type="text" id="Quantity" />
                        <span class="error">Valid quantity required</span>
                    </td>
                    <td>
                        <input type="text" id="PRate" />
                        <span class="error">Valid purchase rate required</span>
                    </td>
                    <td>
                        <input type="text" id="SRate" />
                        <span class="error">Valid sales rate required</span>
                    </td>
                    <td>
                        <input type="text" id="SubTotal" />
                    </td>
                    <td>
                        <input type="button" id="add" value="add" />
                    </td>
                </tr>
            </table>
            <div id="PurchaseItems" class="tablecontainer">

            </div>
            <div style="padding:10px 0px; text-align:right">
                <input id="submit" type="button" value="Save" style="padding:10px 20px" />
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

@section Scripts{
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        //Date Picker
        $(function () {
            $('#PurchaseDate').datepicker({
                dateFormat: 'mm-dd-yy'
            });
        });

        $(document).ready(function () {
            var PurchaseItems = [];
            //Add button click function
            $('#add').click(function () {
                //Check validation of order item
                var isValidItem = true;
                if ($('#ProductId').val().trim() == '') {
                    isValidItem = false;
                    $('#ProductId').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#ProductId').siblings('span.error').css('visibility', 'hidden');
                }

                if (!($('#Barcode').val().trim() != '' && !isNaN($('#Barcode').val().trim()))) {
                    isValidItem = false;
                    $('#Barcode').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#Barcode').siblings('span.error').css('visibility', 'hidden');
                }

                if (!($('#Quantity').val().trim() != '' && !isNaN($('#Quantity').val().trim()))) {
                    isValidItem = false;
                    $('#Quantity').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#Quantity').siblings('span.error').css('visibility', 'hidden');
                }

                if (!($('#PRate').val().trim() != '' && !isNaN($('#PRate').val().trim()))) {
                    isValidItem = false;
                    $('#PRate').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#PRate').siblings('span.error').css('visibility', 'hidden');
                }

                if (!($('#SRate').val().trim() != '' && !isNaN($('#SRate').val().trim()))) {
                    isValidItem = false;
                    $('#SRate').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#SRate').siblings('span.error').css('visibility', 'hidden');
                }

                if (!($('#SubTotal').val().trim() != '' && !isNaN($('#SubTotal').val().trim()))) {
                    isValidItem = false;
                    $('#SubTotal').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#SubTotal').siblings('span.error').css('visibility', 'hidden');
                }

                //Add item to list if valid
                if (isValidItem) {
                    PurchaseItems.push({
                        Product: {
                            Name: $("#ProductId option:selected").text(),
                            Id: $("#ProductId option:selected").val()
                        },
                        Barcode: $('#Barcode').val().trim(),
                        Quantity: parseInt($('#Quantity').val().trim()),
                        PRate: parseInt($('#PRate').val().trim()),
                        SRate: parseInt($('#SRate').val().trim()),
                        //SubTotal: parseFloat($('#SubTotal').val().trim()),
                        SubTotal: parseInt($('#Quantity').val().trim()) * parseFloat($('#PRate').val().trim())
                    });

                    //Clear fields
                    $('#ProductName').val('').focus();
                    $('#Barcode,#Quantity,#PRate,#SRate,#SubTotal').val('');

                }
                //populate order items
                GeneratedItemsTable();

            });
            //Save button click function
            $('#submit').click(function () {
                //validation of order
                var isAllValid = true;
                if (PurchaseItems.length == 0) {
                    $('#PurchaseItems').html('<span style="color:red;">Please add order items</span>');
                    isAllValid = false;
                }

                if ($('#InvoiceNo').val().trim() == '') {
                    $('#InvoiceNo').siblings('span.error').css('visibility', 'visible');
                    isAllValid = false;
                }
                else {
                    $('#InvoiceNo').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#PurchaseDate').val().trim() == '') {
                    $('#PurchaseDate').siblings('span.error').css('visibility', 'visible');
                    isAllValid = false;
                }
                else {
                    $('#PurchaseDate').siblings('span.error').css('visibility', 'hidden');
                }

                //if ($('#SupplierId').val().trim() == '') {
                //    $('#SupplierId').siblings('span.error').css('visibility', 'visible');
                //    isAllValid = false;
                //}
                //else {
                //    $('#SupplierId').siblings('span.error').css('visibility', 'hidden');
                //}

                if ($('#Remarks').val().trim() == '') {
                    $('#Remarks').siblings('span.error').css('visibility', 'visible');
                    isAllValid = false;
                }
                else {
                    $('#Remarks').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#Vat').val().trim() == '') {
                    $('#Vat').siblings('span.error').css('visibility', 'visible');
                    isAllValid = false;
                }
                else {
                    $('#Vat').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#Discount').val().trim() == '') {
                    $('#Discount').siblings('span.error').css('visibility', 'visible');
                    isAllValid = false;
                }
                else {
                    $('#Discount').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#GrandTotal').val().trim() == '') {
                    $('#GrandTotal').siblings('span.error').css('visibility', 'visible');
                    isAllValid = false;
                }
                else {
                    $('#GrandTotal').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#DueTotal').val().trim() == '') {
                    $('#DueTotal').siblings('span.error').css('visibility', 'visible');
                    isAllValid = false;
                }
                else {
                    $('#DueTotal').siblings('span.error').css('visibility', 'hidden');
                }

                //Save if valid
                if (isAllValid) {
                    var data = {
                        InvoiceNo: $('#InvoiceNo').val().trim(),
                        PurchaseDate: $('#PurchaseDate').val().trim(),
                        Suppliers: {
                            Name: $("#Suppliers option:selected").text(),
                            Id: $("#Suppliers option:selected").val()
                        },
                        //SupplierId: $('#SupplierId').val().trim(),
                        Remarks: $('#Remarks').val().trim(),
                        Vat: $('#Vat').val().trim(),
                        Discount: $('#Discount').val().trim(),
                        //Sorry forgot to add Description Field
                        GrandTotal: $('#GrandTotal').val().trim(),
                        DueTotal: $('#DueTotal').val().trim(),
                        PurchaseDetails: PurchaseItems
                    }

                    $(this).val('Please wait...');

                    $.ajax({
                        url: '/Purchase/SaveOrder',
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            //check is successfully save to database
                            if (d.status == true) {
                                //will send status from server side
                                alert('Successfully done.');
                                //clear form
                                PurchaseItems = [];
                                $('#InvoiceNo').val('');
                                $('#PurchaseDate').val('');
                                $('#SupplierId').val('');
                                $('#Remarks').val('');
                                $('#Vat').val('');
                                $('#Discount').val('');
                                $('#GrandTotal').val('');
                                $('#DueTotal').val('');
                                $('#PurchaseItems').empty();
                            }
                            else {
                                alert('Failed');
                            }
                            $('#submit').val('Save');
                        },
                        error: function () {
                            alert('Error. Please try again.');
                            $('#submit').val('Save');
                        }
                    });
                }

            });
            //function for show added items in table
            function GeneratedItemsTable() {
                if (PurchaseItems.length > 0) {
                    var $table = $('<table/>');
                    $table.append('<thead><tr><th>Product</th><th>Barcode</th><th>Quantity</th><th>PRate</th><th>SRate</th><th>SubTotal</th></tr></thead>');
                    var $tbody = $('<tbody/>');
                    $.each(PurchaseItems, function (i, val) {
                        var $row = $('<tr/>');
                        $row.append($('<td/>').html(val.Product.Name));
                        $row.append($('<td/>').html(val.Barcode));
                        $row.append($('<td/>').html(val.Quantity));
                        $row.append($('<td/>').html(val.PRate));
                        $row.append($('<td/>').html(val.SRate));
                        //$row.append($('<td/>').html(val.SubTotal));
                        $row.append($('<td/>').html(val.SubTotal));
                        $tbody.append($row);
                    });
                    $table.append($tbody);
                    $('#PurchaseItems').html($table);
                }
            }
        });

    </script>
}

<style>
    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }


    /*css for table*/
    .container td {
        vertical-align: top;
    }

    .tablecontainer table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid #BFAEAE;
        border-right: 1px solid #BFAEAE;
    }

    .tablecontainer th {
        border-bottom: 2px solid #BFAEAE !important;
    }

    .tablecontainer th, .tablecontainer td {
        text-align: left;
        border-left: 1px solid #BFAEAE;
        padding: 5px;
        border-bottom: 1px solid #BFAEAE;
    }

    .ui-widget {
        font-size: 12px !important;
    }
</style>