@{
    ViewBag.Title = "User Profile";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
</head>
<body>
</body>
</html>