@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
</head>
<body>    
    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h3>User Information</h3>
                <div class="fakeimg" style="height:100px;">Image & User Details</div>
            </div>
        </div>

        <div class="row">
            <div class="middlecolumn">
                <div class="card">
                    <h3>Recent Offers & Discounts</h3>
                    <div class="fakeimg" style="height:200px;">Offers & Discounts Details</div>
                </div>
                <div class="card_after">
                    <h3>Dashboard</h3>
                    <div class="fakeimg" style="height:200px;">Several Dashboard</div>
                </div>

            </div>
            <div class="rightcolumn">
                <div class="card">
                    <h3>News & Events</h3>
                    <div class="fakeimg" style="height:100px;">News - 1</div>
                </div>
                <div class="card_after">
                    <h3>Yearly Calender</h3>
                    <div class="fakeimg"><p>Calender</p></div>
                </div>
                <div class="card_after">
                    <h3>Active User List</h3>
                    <div class="fakeimg" style="height:100px;">User List</div>
                </div>
            </div>
        </div>

        <div class="footer">
            <h2>Company Details</h2>
        </div>
    </div>
</body>
</html>






