<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PCASpensiondbConnectionString" connectionString="Data Source=localhost;Initial Catalog=IMS;User ID=sa;Password=leads@123"
      providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApplication1.Properties.Settings.IMSConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=IMS;User ID=sa;Password=leads@123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Server" value="172.17.0.59" />
    <add key="DataBase" value="pensiondb" />
    <add key="UserID" value="admins"  />
    <add key="Password" value="123"/>
  </appSettings>
  <startup>
    
  </startup>
</configuration>