body {            
        }
        * {
            margin: 0px;
            padding: 0px;
        }

* {
    box-sizing: border-box;
}
/*
body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}*/

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: red;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 25%;    
}
/* Left column */
.middlecolumn {   
    float: left;
    width: 44%;
    padding-left: 20px;    
}

/* Right column */
.rightcolumn {
    float: right;
    width: 30%;
    /*background-color: #f1f1f1;*/
    padding-left: 15px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, .5);
}

.card_after {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, .5);
}

.card_first {
    background-color: None;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, .5);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 50px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
        
        #menu ul
        {
            list-style:none;
        }
        #menu ul li        {
            background-color:cornflowerblue;
            border: solid 1px white;
            width: 198px;
            height: 40px;
            text-align: center;           
            line-height: 40px;
            float:left;
            position: relative;
            border-radius: 10px;
        }
        #menu ul li a {
            text-decoration: none;
            display: block;
            color: #fff;            
        }
        #menu ul li a:hover {
            background-color: burlywood;
            color: black;
            border-radius: 10px;            
        }
        #menu ul ul {
            position: absolute;
            display: none;
        }
        #menu ul li > ul li {
            background-color: cornflowerblue;
            color: burlywood;
            border: solid 1px white;
            border-radius: 10px;
        }
        #menu ul li:hover > ul {
            display:block;
            border-radius: 10px;
            border-radius: 10px;
        }

.dropdown-list {
    position: relative;
    display: inline-block;
    padding-right: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown-list:hover .dropdown-content {
    display: block;
}

.dropdown-list:hover .dropbtn {
    background-color: #3e8e41;
}        