@{
    ViewBag.Title = "Home Page";
}

<div class="pos-home">
    <h1 class="pos-name">POINT OF SALES</h1>
    <p class="lead" style="color:#352c2c; font-weight:bolder;">Point Of Sales System, developed by Team Vision, is an ASP.NET MVC Application which is capable of basic <strong>Point Of Sales</strong> operations</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2 style="font-weight:bolder;">Members of Team Vision</h2>
        <p>
            Abul Kashem, Roknuzzaman, Monzur Morshed, Tariqul Shakil, Priom Biswas
        </p>
    </div>
    <div class="col-md-4">
        
    </div>
</div>