@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>POINT OF SALES</h1>
    <p class="lead">Point Of Sales System, developed by Team Vision, is an ASP.NET MVC Application which is capable of basic <strong>Point Of Sales</strong> operations</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Members of Team Vision</h2>
        <p>
            Md. Abul Kashem
            Md. Rokon
            Md. Monzur Morshed
            Md. Tariqul Shakil
            Priom Biswas
        </p>
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>